.offline {
	background-color:red;
}

.online {
	background-color:green;
}

.undefined {
	background-color:gray;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}